{%extends 'base.html'%}
{%load static%}
{%block title%} About {%endblock%}
{%block header%} About {%endblock%}
{%block content%}
<pre class="about"> 
    Alauddin Academy is my CollegePortal's college name for my Database Course in BRAC University.

    There is a reason behind choosing this name. My father is now retired and he started a kindergarten named 
    'Principal Alauddin Academy' in our village home in 2022. His name is Mohammad Alauddin.
    He is a retired Principal of Govt. College. 

    This institution is located in Char Marteen, Kamalnagar Upazilla, Lakshmipur District.

    Here is a picture of myself with my father in front of our little Academy.

</pre>
<figure class="about_img">
    <img src="{%static '/CollegePortal/about1.jpeg'%}" alt="Picture in front of Principal Alauddin Academy" height="500px" width="700px"><br>
    <figcaption>Me and my father in front of Principal Alauddin Academy</figcaption>
</figure>
{%endblock%}